<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pcpsoftware.tipped"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.pcpsoftware.tipped.Tipped"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pcpsoftware.tipped.MainView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.pcpsoftware.tipped.MainStats"
            android:label="@string/app_name"></activity>
        <activity 
            android:name="com.pcpsoftware.tipped.ShiftView"
            android:label="@string/app_name"></activity>
        <activity 
            android:name="com.pcpsoftware.tipped.ShiftStats"
            android:label="@string/app_name"></activity>
        <activity
            android:name="com.pcpsoftware.tipped.Options"
            android:label="@string/app_name"></activity>
        <activity 
            android:name="com.pcpsoftware.tipped.TipEdit"
            android:label="@string/app_name"></activity>
        <!-- @CONTENT_PROVIDERS
        <provider 
            android:name=".contentprovider.ShiftsContentProvider"
            android:authorities="com.pcpsoftware.tipped.contentprovider" ></provider>
        <provider
            android:name=".contentprovider.TipContentProvider"
            android:authorities="com.pcpsoftware.tipped.contentprovider" ></provider>
        -->
	</application>

</manifest>